<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>tantra-massage.pro|Анкеты тантрических массажистов Казани
 с отзывами,анонсы мероприятий</title>
    <meta name="description" content="Анкеты тантрических массажистов Казани
 с отзывами, анонсы тантрических практик, cuddle-вечеринки. Каталог мастеров тантрического массажа с фотографиями, номерами телефонов и поиском на карте">
    <meta name="keywords" content="Тантра, массаж, анкеты, отзывы, фотографии, номер телефона, что такое тантрический массаж, тантрический ретрит">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="assets/img/icon.png">

    <!-- ************************* CSS Files ************************* -->

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'main/css/vendor.css' %}">

    <!-- style css -->
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">


    {% block head %}
    {% endblock head %}
</head>

<body>
<div class="wrapper">

    <!-- Preloader Start -->
    <div class="ft-preloader active">
        <div class="ft-preloader-inner h-100 d-flex align-items-center justify-content-center">
            <div class="ft-child ft-bounce1"></div>
            <div class="ft-child ft-bounce2"></div>
            <div class="ft-child ft-bounce3"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Main Wrapper Start -->
    <div class="wrapper">
        <!-- Header Start -->
        {% include 'main/header_menu.html' %}
    </div>
        <!-- Header End -->


        {% block content %}
        {% endblock content %}

        <!-- Footer Start-->
        <footer class="footer bg-color pt--70 pt-xs--60" data-bg-color="#f4f8fa">
            <div class="container">
                <div class="row ptb--20">
                    <div class="col-12 text-center">
                        <p class="copyright-text">Tantra Kazan &copy; 2023 all rights reserved</p>
                        <div class="social space-10">
                            <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" class="social__link">
                                <i class="fa fa-facebook"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                            <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer" class="social__link">
                                <i class="fa fa-twitter"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                            <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer" class="social__link">
                                <i class="fa fa-linkedin"></i>
                                <span class="sr-only">Linkedin</span>
                            </a>
                            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" class="social__link">
                                <i class="fa fa-instagram"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer End-->

        <!-- OffCanvas Menu Start -->
        {% include 'main/side_menu.html' %}
        <!-- OffCanvas Menu End -->

        <!-- Global Overlay Start -->
        <div class="global-overlay"></div>
        <!-- Global Overlay End -->

        <!-- Scroll To Top Start -->
        <a class="scroll-to-top" href=""><i class="fa fa-angle-double-up"></i></a>
        <!-- Scroll To Top End -->
</div>
<!-- Main Wrapper End -->

    <!-- ************************* JS Files ************************* -->

    <!-- jQuery JS -->
    <script src="{% static 'main/js/vendor.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'main/js/main.js' %}"></script>
{% block script %}
{% endblock script %}
</body>

</html>
