<!-- Breadcrumb area Start -->
<section class="page-title-area bg-color" data-bg-color="#f4f4f4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">{{ title }}</h1>
                <ul class="breadcrumb text-center">
                    {% for step in breadcrumbs_steps %}
                        {% if not forloop.last %}
                        <li><a href="{{ step.url }}">{{ step.title }}</a></li>
                        {% else %}
                        <li class="current"><span>{{ step.title }}</span></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb area End -->
