{% extends 'main/base.html' %}
{% load static %}


{% block content %}
        <!-- Main Content Wrapper Start -->
        <main class="main-content-wrapper">
            <!-- About Slider area Start -->
            {% include 'articles/articles_slider.html' %}

            {% include 'articles/announcements_preview.html' %}

            <!-- Product Area Start -->
            <section class="product-area mb--50 mb-xl--40 mb-lg--25 mb-md--30 mb-sm--20 mb-xs--15">
                <div class="container">
                    <div class="row mb--42">
                        <div class="col-lg-5 col-sm-10">
                            <h2 class="heading__secondary">Наши Мастера</h2>
                            <p>Это только часть анкет мастеров, более подробная информация с возможностью фильтрации и поиском на карте во вкладке "Мастера" </p>
                        </div>
                    </div>
                    <div class="row">
                        {% for specialist in specialists %}
                        <div class="col-lg-3 col-md-4 col-sm-6 mb--65 mb-md--50">
                            {% include 'specialists/specialist_card_grid.html' %}
                        </div>
                        {% endfor %}
                    </div>
                <div class="d-flex align-items-center justify-content-center mb--20">
                    <div class="form__group mr--30">
                        <a href="{% url 'specialists:specialists' %}" type="submit" class="btn btn-size-sm">Больше мастеров</a>
                    </div>
                </div>
                </div>
            </section>
            <!-- Product Area End -->



            <section class="method-area mb--11pt5">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="sr-only">Methods</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-sm--50">
                            <div class="method-box shipment-method">
                                <i class="flaticon-truck"></i>
                                <h3>Free Home Delivery</h3>
                            </div>
                        </div>
                        <div class="col-md-4 mb-sm--50">
                            <div class="method-box money-back-method">
                                <i class="flaticon-money"></i>
                                <h3>MONEY BACK GUARANTEE</h3>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="method-box support-method">
                                <i class="flaticon-support"></i>
                                <h3>SUPORT 24/7</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Main Content Wrapper End -->
{% endblock content %}
