{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<!-- Breadcrumb area Start -->
        <section class="page-title-area bg-color" data-bg-color="#f4f4f4">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="page-title">Условия размещения анкет</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb area End -->

        <!-- Main Content Wrapper Start -->
        <div class="main-content-wrapper">
            <div class="page-content-inner pt--75 pb--80">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <p class="heading-color mb--30 text-center">

<p class="text-center"><strong>1. Правила размещения фото</strong></p>
<p>При использовании сервиса tantra-massage (далее Сайта) запрещается:</p>
<p><b>1.1.</b> размещать на Сайте порнографические изображения (сцены с демонстрацией полового акта)</p>
<p><b>1.2.</b> размещать на Сайте графические изображения, размещение которых наносит или может нанести ущерб чести, достоинству и деловой репутации гражданина или деловой репутации организации;</p>
<p><b>1.3.</b> размещать на сайте графические изображения, содержание которых является оскорбительным для пользователей Сайта.;</p>
<p><b>1.4.</b> размещать на Сайте изображения эротического характер:</p>
<ul>
<li>демонстрация половых органов, оголенных или в полупрозрачном нижнем белье женских грудей или ягодиц;</li>
<li>сцены с поцелуями или откровенными ласками;</li>
<li>люди в непристойных или вызывающих позах;</li>
<li>полностью обнаженные люди;</li>
<li>девушки топлес за исключением фотографий с процедурой массажа, где девушка лежит животе;</li>
</ul>
<br>
<p><b>1.5.</b> размещать на Сайте изображения других лиц без их предварительного согласия, за исключением случаев, предусмотренных законом.</p>
<p><b>1.6.</b> размещать на сайте графические изображения:</p>
<ul>
<li>с наличием водяных знаков, адресов сайтов, номеров телефонов, прайс-листов, перечня оказываемых услуг, имен, названий салонов (допустимо загружать логотипы салонов);</li>
<li>с наличием посторонних графических элементов, наложенных на фотографию путем обработки в специальной программе с целью скрыть лицо (допускается только эффект "размытия" и "пикселизации" лица. При применении эффекта пикселизации количество точек в области лица не должно быть меньше 20);</li>
<li>с наличием фотовспышки в области лица;</li>
<li>с наличием посторонних графических элементов, наложенных на фотографию путем обработки в специальной программе с целью скрыть интимные зоны (грудь, ягодицы, гениталии);</li>
<li>с наличием посторонних графических элементов, наложенных на фотографию путем обработки в специальной программе, если этих элементов слишком много или они не несут никакой смысловой нагрузки;</li>
<li>с рамками, длина или ширина которых составляет более 10% длины или ширины оригинальной фотографии;</li>
</ul>
<br>
<p><b>1.7.</b> загружать фотографии, демонстрирующие отдельные части тела.</p>
<p><b>1.8.</b>загружать фотографии, демонстрирующие секс-игрушки, предметы в виде пениса, средства контрацепции (презервативы и т.д.), БДСМ-атрибуты (плетки) и т.п.</p>
<p><b>1.9.</b> размещать на сайте графические изображения плохого качества (с размытым фокусом, малого разрешения).</p>
<p><b>1.10.</b> размещать на сайте графические изображения людей в школьной, военной, полицейской форме, в погонах.</p>
<p><b>1.11.</b> размещать на сайте графические изображения с алкогольными напитками, табачными изделиями, оружием и наркотиками.</p>
<p><b>1.12.</b> размещать на сайте графические изображения, не относящиеся к тематике сайта и/или не несущие смысловой нагрузки.</p>
<p class="text-center"><strong>2. Правила размещения текстового контента</strong></p>
<p>При использовании сервиса tantra-massage (далее Сайта) запрещается:</p>
<p><b>2.1.</b> В описаниях к анкетам, в переписке со службой поддержки не допускаются фамильярность, угрозы, повелительный тон, использование бранных слов, непристойных и оскорбительных образов, сравнений и выражений, в том числе в отношении пола, расы, национальности, профессии, социальной категории, возраста, языка человека;
Администрация Сайта оставляет за собой право блокировать объявления и/или аккаунты пользователей, нарушающих данный пункт правил.</p>
<p><b>2.2.</b> Размещать порнографические материалы;</p>
<p><b>2.3.</b> Указывать в поле «Имя» любые другие данные, кроме имени;</p>
<p><b>2.4.</b> Размещать на сайте объявления с предложением услуг интимного характера/</p>
<ul>

</ul>
<br>
<p><b>2.5.</b> Создавать более одной анкеты для мастера массажа/салона.</p>
<p><b>2.6.</b> Копировать описания из других анкет.</p>
<p><b>2.7.</b> Размещать рекламу товаров и услуг не относящихся к массажу.</p>
<p><b>2.8.</b> Размещать на Сайте персональные данные, в том числе контактные данные, других Пользователей или иных лиц без их предварительного согласия;</p>
<p><b>2.9.</b> Размещать на Сайте персональные и контактные данные в тексте анкет: ссылки на соцсети, номера телефонов, ссылки на сторонние ресурсы и т.д., так как данная информация не проверяется модератором на соответствие.</p>
<p><b>2.10.</b> Размещать на сайте информацию, содержание которой является оскорбительным для пользователей Сайта.</p>
<p><b>2.11.</b> Осуществлять пропаганду или агитацию, возбуждающую социальную, расовую, национальную или религиозную ненависть и вражду, пропаганду войны, социального, расового, национального, религиозного, языкового или иного превосходства;</p>
</div>
</div>
</div>
.
</div>
</div>


{% endblock content %}