<div class="tab-pane fade" id="nav-reviews" role="tabpanel"
aria-labelledby="nav-reviews-tab">
    <div class="product-reviews">
        <h3 class="review__title">Отзывов: <span class="reviews_count">{{ specialist.num_reviews|default:"0"  }}</span></h3>
        <ul class="review__list mb--50">

        </ul>
        {% if not is_reviewed and specialist != user %}
        {% include 'feedback/review_form.html' %}
        {% endif %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    let specialistUsername = "{{ specialist.username }}";
    let reviewFormWrapper = document.querySelector('.review-form-wrapper');
    let reviewsCountElements = document.querySelectorAll('.reviews_count');

    function fetchReviews() {
        fetch('{% url 'feedback:reviews_api' specialist_username=specialist.username %}')
            .then(response => response.json())
            .then(data => {
                const reviewsContainer = document.querySelector('.review__list');
                reviewsContainer.innerHTML = '';

                data.forEach(reviewData => {
                    reviewData.review_for.forEach(review => {
                        const reviewItem = document.createElement('li');
                        reviewItem.classList.add('review__item');

                        reviewItem.innerHTML = `
                            <div class="review__container" style="position: relative;">
                                <img src="${review.author.avatar_img.image}" alt="Review Avatar" class="review__avatar">
                                <div class="review__text">
                                    <div class="d-flex flex-sm-row flex-column justify-content-between">
                                        <div class="review__meta">
                                            <strong class="review__author">${review.author.first_name} ${review.author.last_name}</strong>
                                            <span class="review__dash">-</span>
                                            <span class="review__published-date">${review.date_added}</span>
                                        </div>
                                        <div class="product-rating">
                                            <div class="star-rating ${review.rating_class}">
                                                <span>Rated <strong class="rating">${review.score}</strong> out of 5</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="review__description">${review.text}</p>

                                    ${review.is_current_user_author ? `
                                        <div class="review__icons">
                                            <a class="delete-review-btn" data-review-id="${review.id}">
                                                <i class="fa fa-trash" aria-hidden="true" title="Удалить"></i>
                                            </a>
                                        </div>
                                    ` : ''}
                                </div>
                            </div>
                        `;
                        reviewsContainer.appendChild(reviewItem);
                    });
                });

                // Привязываем обработчик события к кнопкам удаления после отрисовки отзывов
                attachDeleteReviewEventListeners();

                // Обновляем элементы с классом reviews_count
                reviewsCountElements.forEach(element => {
                    element.textContent = `${data[0].num_reviews}`;
                });
            })
            .catch(error => console.error('Ошибка при получении отзывов:', error));
    }

    function attachDeleteReviewEventListeners() {
        document.querySelectorAll('.delete-review-btn').forEach(button => {
            button.addEventListener('click', function() {
                const reviewId = this.dataset.reviewId;
                deleteReview(reviewId, specialistUsername);
            });
        });
    }

    fetchReviews();

    function getCSRFToken() {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith('csrftoken=')) {
                return cookie.substring('csrftoken='.length, cookie.length);
            }
        }
        return null;
    }

    function deleteReview(reviewId, specialistUsername) {
        if (confirm("Вы уверены, что хотите удалить этот отзыв?")) {
            const csrfToken = getCSRFToken();

            fetch(`/feedback/api/v1/specialists/${specialistUsername}/reviews/${reviewId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Ошибка удаления отзыва');
                }
                // После успешного удаления отзыва обновляем список отзывов
                fetchReviews();
                reviewFormWrapper.style.display = 'block'; // Показываем форму после удаления отзыва
            })
            .catch(error => console.error('Ошибка при удалении отзыва:', error));
        }
    }

    // Обработчик для формы создания отзыва
    const reviewForm = document.getElementById('review-form');
    if (reviewForm) {
        reviewForm.addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData(reviewForm);

            fetch(reviewForm.action, {
                method: reviewForm.method,
                body: formData,
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Ошибка создания отзыва');
                }
                reviewForm.reset();
                // После успешного создания отзыва обновляем список отзывов
                fetchReviews();
                reviewFormWrapper.style.display = 'none'; // Скрываем форму после создания отзыва
            })
            .catch(error => console.error('Ошибка при создании отзыва:', error));
        });
    }
});
</script>
