{% load static %}
{% block map %}

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey={{YANDEX_API_KEY}}" type="text/javascript"></script>

<script type="text/javascript">
    ymaps.ready(init);
    function init() {
    var myMap = new ymaps.Map("map", {
            center: {{specialist.specialist_profile.point}},
            zoom: 15
        }, {
            searchControlProvider: 'yandex#search'
        });


{% block map_content %}
{% endblock map_content %}

}
</script>
{% endblock map %}

