{% load format_years %}
<div class="table-content table-responsive mb--20">
    <div class="grid-container">

          <div class="param-name">Пол</div>
              <div class="param-value">
                   {% if specialist.specialist_profile.gender is True %}
                    <i class="fa fa-mars" aria-hidden="true" title="Мужчина"></i>
                   {% elif specialist.specialist_profile.gender is False %}
                    <i class="fa fa-venus" aria-hidden="true" title="Женщина"></i>
                   {% endif %}
              </div>
                  {% if specialist.specialist_profile.birth_date %}
          <div class="param-name">Возраст</div>
          <div class="param-value">{{ specialist.specialist_profile.birth_date|years_from_date }}</div>
          <div class="param-additional">{{ specialist.specialist_profile.birth_date|years_from_date|years_suffix }}</div>
                  {% endif %}
                  {% if specialist.specialist_profile.practice_start_date is not None %}
          <div class="param-name">Опыт</div>
                  {% if specialist.specialist_profile.practice_start_date|years_from_date == 0 %}
          <div class="param-value">< 1</div>
                  {% else %}
          <div class="param-value">{{ specialist.specialist_profile.practice_start_date|years_from_date }}</div>
                  {% endif %}
          <div class="param-additional">
              {{ specialist.specialist_profile.practice_start_date|years_from_date|years_suffix }}
          </div>
                  {% endif %}
          <div class="param-name">Массаж для</div>
          <div class="param-value">
              {% for massage_for in specialist.specialist_profile.massage_for.all %}
                <i class="fa {{massage_for.icon}}" aria-hidden="true" title="{{ massage_for.massage_for }}"></i>
              {% endfor %}
          </div>
          <div class="param-name">Цена дома</div>
          <div class="param-value">{{ specialist.specialist_profile.basicserviceprice_set.first.home_price }}</div>
          <div class="param-additional">₽</div>
    {% if specialist.specialist_profile.basicserviceprice_set.first.on_site_price %}
          <div class="param-name">Цена с выездом</div>
          <div class="param-value">{{ specialist.specialist_profile.basicserviceprice_set.first.on_site_price }}</div>
          <div class="param-additional">₽</div>
    {% endif %}
    </div>
</div>

{% if specialist.specialist_profile.address  %}
    <p>
    <i class="fa fa-map-marker mr--10" aria-hidden="true"></i>
    {{specialist.specialist_profile.address}}</p>
{% endif %}

<div class="row justify-content-center mb--20 mt--20">
    <div class="contact-buttons social features space-20 ">
        {% for feature in specialist.specialist_profile.features.all %}
            <i class="fa {{ feature.icon }}" title="{{ feature.name }}"></i>
        {% endfor %}
    </div>
</div>

<div class="row justify-content-center">
    <div class="contact-buttons social space-20 mb--20">
        {% if specialist.specialist_profile.phone_number %}
        <a href="#" id="phone_number" target="_blank" rel="noopener noreferrer" class="social__link">
            <i class="fa fa-phone"></i>
            <span class="sr-only">Телефон</span>
        </a>
        {% endif %}
        {% if specialist.specialist_profile.telegram_profile %}
        <a href="#" id="telegram_profile" target="_blank" rel="noopener noreferrer" class="social__link">
            <i class="fa fa-telegram"></i>
            <span class="sr-only">Телеграм</span>
        </a>
        {% endif %}
        {% if specialist.specialist_profile.instagram_profile %}
        <a href="#" id="instagram_profile" target="_blank" rel="noopener noreferrer" class="social__link">
            <i class="fa fa-instagram"></i>
            <span class="sr-only">Instagram</span>
        </a>
        {% endif %}
    </div>
</div>
<div class="row justify-content-center">
    <div class='contact-data-container'></div>
</div>
